/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body
{
   font-family: 'open_sansregular', sans-serif;  font-size: 14px;
   padding: 0;
   margin: 0;
   border: none;
   position: relative;
}

#voteContainer
{
   
   text-align: center;
}
#voteContainer > div
{
   display: inline-block;
   width: 16em;
}
#voteContainer > div > img
{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

#voteContainer > div > span
{
    display: block;

    margin: 1em 0 0;
    font-size: 21px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#voteContainer > div > div
{
    display: inline-block;

    
}
#voteContainer > div > div > input
{
  
    width: 4em;
    text-align: center;
    border: none;
    background-color: inherit;
    font-size: 4em;
    padding: 20px 0 30px;

    transition: all 0.3s ease;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


#voteContainer > div > button
{
   
}

button
{
    background-color: #D4D0C8;
  
    border: 1px solid rgb(196, 191, 181);
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: normal;
    font-family: 'open_sansregular', sans-serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3), -1px 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}
button:hover
{
    background-color: rgb(196, 188, 173);
  
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

#resetVotesContainer
{
    text-align: center;
   
    margin: 3em 0 0 0;
}

#demo_body
{
   width: 823px;
   text-align: center;
}

#codeFrame
{
  width: 1210px;
  height: 1200px;
  margin: 0 auto;
}
#codeFrame > iframe
{
  border: none;
}

#codeContainer
{
   width: 1200px;
   margin: 0 auto;
   background-color: #fff;
   position: relative;
}
.codehalf
{
   width: 50%;
   height: 100%;
   float: left;
   background-color: #fff;
}

.codehalf .syntaxhighlighter, .ie.syntaxhighlighter  {
   overflow: hidden !important;
   /*padding: 0.7em !important;
   border: solid 1px white !important;
   box-shadow: 0 0 1em white !important;*/
}

#JSCode
{
    width: 58%;
   
}
#PLSQLCode
{
   border-left: 1px solid rgb(163, 163, 163);
   width: 42%;
}


.arrowBox
{
   position: absolute;
   z-index: 10;
   border-left: 3px solid black;
}

.dot
{
   height: 2px;
   width: 2px;
   background-color: red;
   position: absolute;
   z-index: 10;
}

.arrowHead
{
   position: absolute;
}

.codehalf .syntaxhighlighter.nogutter td.code .line
{
   padding-left: 0.5em !important;
}