/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body, html
{
   width: 100%;
   height: 100%;
   min-height: 500px;
   margin: 0;
   font-family: Calibri, sans-serif;

}

body,
#upper 
{
  background: #f7f2d3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background-color: #f7f3de; 
}

#branding
{
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 2;
   display: none;
   border: 1px solid transparent;
}
#tavendoRoot
{
   
}
#codeChat
{
   margin: 15px 0 0 0;
   display: none;
}
#poweredBy
{
   margin: 5px 0 0 25px;
   
   font-family: Arial, sans-serif;
   font-size: 17px;
   color: rgb(163, 163, 163);

   display: none;
}
#poweredBy > a
{
   color: inherit;
}

@media (min-width: 850px) {
   #branding
   {
      display:block;
   }
   
   

}
@media (min-width: 850px) and (max-width: 1530px) {
   #branding:hover #codeChat,
   #branding:hover #poweredBy
   {
      display: block;
      padding: 0 12px 0 12px;
   }
   #branding:hover #poweredBy
   {
      padding-bottom: 12px;
   }

  #branding:hover
   {
      background-color: #F9F8EE;
      border: 1px solid #DCC74E;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
   }
}


@media (min-width: 1530px) {
   #codeChat
   {
      display: block;
   }
   #poweredBy
   {
      display: block;
   }
}


.half
{  
   width: 100%;
   /*height: 50%;*/
   position: relative;
}
#upper 
{
   height: 50%;
   background-color: black;
   position: relative;
}
#lower
{
   height: 50%;
   background-color: #F9F8EE;
   z-index: 3;
   min-height: 200px;
}
#separator
{
   width: 100%;
   height: 8px;
   
   position: absolute;
   bottom: -4px; /* half the height*/
   left: 0px;
   z-index: 12;
   cursor: s-resize;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#separatorLine
{
   height: 2px;
   margin-top: 4px;
   background-color: rgb(167, 167, 167);
}

#ghostSeparator
{
   display: none;
   
   width: 100%;
   height: 2px;
   background-color: #bbb;
   /*border: 2px solid #BBB;*/
   position: absolute;
   bottom: -2px;
   left: 0px;
   z-index: 10;
   cursor: s-resize;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.unselectable
{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#upperFader
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 20px;

   background-image: -webkit-linear-gradient(top, #F7F2D4 10%, rgba(255, 255, 255, 0));
}

#lowerFader
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 15px;

   background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #F7F2D4 95%);
}






/* 
   Chat 
*/

#chatMessageContainer
{
   height: 100%;
   width: 100%;
   margin-bottom: 12px; /* half separator height */
   color: #444;
   overflow: auto;
}

.syntaxhighlighter, .ie.syntaxhighlighter {
   font-family: Consolas, monospace !important;
   font-size: 14px !important;
   padding-top: 12px !important;
   padding-bottom: 12px !important;
   /*box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.3);*/
}

/*
   Fix for: https://bitbucket.org/alexg/syntaxhighlighter/issue/177/superfluous-vertical-scrollbars-in-chrome
.syntaxhighlighter { padding-bottom: 1px !important; }
 */
.syntaxhighlighter table td.code .container { padding-bottom: 1px !important; }

.chatMessage
{
    padding: 0.5em;
    max-width: 1000px;
    min-width: 700px;
    width: 80%;
    margin: 1em auto;
    

    border-radius: 7px;

    position: relative;
}
.chatHeader
{

    padding: 15px 7px 5px;
    
    
    

    margin-right: 9px;
    overflow: hidden;
    

    vertical-align: top;

    color: rgb(206, 202, 177);

    top: -18px;

    width: 100%;

    border-bottom: 1px solid;

}
.messageTime
{
   display: inline-block;

   float: right;
}
.messageTitle
{
    display: inline-block;

    max-width: 420px;
    padding: 0 1em 0 2em;
    text-align: center;
}
.messageId,
.messageLanguage
{
   display: block;
   float: left;
}
.messageId
{
   width: 5em;
   text-align: left;
}
.messageLanguage
{
}


.messageNick
{
   display: inline-block;
   float: right;
   padding: 0 1em;
}

.chatCodeBlock /* relied on to be just this for setting fontSize from JS - 
- adjust there if additional selectors are added here */
{
   position: relative;
   display: inline-block;
   width: 100%;
}

.chatCodeBlock > div > .syntaxhighlighter
{
   margin-top: 0 !important;
}

#chatMessageContainer .chatCodeBlock * 
{
   background-color: transparent !important;
}

#chatMessageContainer .syntaxhighlighter .gutter .line
{
   border-right: none !important;
}
#chatMessageContainer .chatMessage .copyButton
{
   display: none;

   background-color: #777 !important;
   color: #fff;
   border: none;
   padding: 4px 8px;
   position: absolute;
   top: 24px;
   right: 5px;

}
#chatMessageContainer .chatMessage .copyButton:hover
{
   background-color: #bbb !important;
   
   color: #666;
}
#chatMessageContainer .chatMessage .chatCodeBlock:hover .copyButton 
{
   display: block;
}

#collapseChat
{
    position: fixed;

    top: 15px;
    right: 17px;
    z-index: 10;
}
#collapseChatButton
{
   
}
#expandChatButton
{

}

/*
   Editor
*/

.editorWrapper .editor 
{
   font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
   /* overwrite ace standard settings for now - same font stack as for the syntaxhighlighter */
}

.sendbutton 
{
   background-color: #777;
   color: #fff;
   border: none;
   padding: 4px 8px;
   position: absolute;
   bottom: 54px;
   width: 120px;
   z-index: 10;
}
#sendFullEditorContent
{
   right: 20px;
}
#sendSelectedEditorContent
{
   display: none;
   right: 20px;
}
.evalbutton 
{
   background-color: #555;
   color: #fff;
   border: none;
   padding: 4px 8px;
   position: absolute;
   bottom: 100px;
   width: 120px;
   z-index: 10;
}
#evalFullEditorContent
{
   display: none;
   right: 20px;
}
#evalSelectedEditorContent
{
   display: none;
   right: 20px;
}

#languageButtonContainer
{
   position: absolute;
   right:20px;
   top: 20px;
}
#languageButtonContainer > button
{
   background-color: #ccc;
   color: #444;
   border-radius: 10px;
   border: 1px solid #777;
   padding: 4px 8px;
   display: block;
   z-index: 20;
}
#languageButtonContainer .selected
{
   border-color: red;
   color: red;
}


/*
   Tabs
*/
/*http://stackoverflow.com/questions/10464716/div-expand-to-visually-fill-vertical-space*/

#tabswrapper
{
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 0 -30px 0; /* the bottom margin is the negative value of the footer's height */
   position: relative;
   padding: 10px 0 0 0;
   overflow: hidden;
}

#tabtopsWrapper
{
   display: inline-block;

   height: 42px;
   position: relative;
}

#tabtopsWrapper > div 
{
   display: inline-block;
}


#tabtops 
{
   margin: -2px 0;
   z-index: 4;
   /*overflow-x: hidden;*/
   overflow: hidden;
}
#tabtops > li 
{
   text-align: left;
   padding: 10px 15px;
   border-bottom: none;
   border-radius: 0px 0px 0 0;
   list-style: none;
   /*display: inline-block;*/
   /*z-index: 5;*/
   background-color: rgba(134, 134, 134, 0.38);
   position: relative;
   cursor: pointer;
   box-shadow: 0px 0px 3px 0 rgba(121, 121, 121, 0.47);
   color: rgb(141, 141, 141);
   border: 1px solid transparent;
   border-bottom: 1px solid #dcc74e;
   display: inline-block;
}
#tabtops > li.selected 
{
   background-color: #F7F2D4;
   color: rgba(0, 0, 0, 0.53);
   box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.21);
   border: 1px solid #DCC74E;
   border-bottom: 2px solid #f7f2d4;
}
#addTab
{
   position: absolute;
   width: 107px;
   right: -107px;
   top: -1px;

   /*background-color: #F1EABD;*/
   text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
   color: #444;
   /*height: 100%;*/
;
   z-index: 10;
   height: 40px;
}
#addTab.addTabExpanded
{
   background-color: #EFE8BB;
   height: auto;
}
#addTab > span
{
  display: inline-block;
  height: 100%;
}
.deleteButton
{
   /*border: 1px solid red;*/
   /*background-color: orange;*/
   /*color: red;*/
   position: relative;
   top: 0px;
   right: -5px;
   cursor: pointer;
   display: inline-block;
   margin-left: 10px;
   text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#addTabButton
{
   padding: 8px 10px;
   background-color: #EFE8BB;
}

/* getting this to display at list width, no limited by that of the parent element:
http://jsfiddle.net/YXT7j/66/ - http://stackoverflow.com/questions/13122230/absolute-element-inherits-parent-width-but-i-want-it-to-stretch-according-its-ch;
*/
#addTabLanguages
{ /* far enough off that the leftmost button in the overlay no longer overlaps the tabtop. 
                  otherwise a click on the tabtop clicks that button */
   background-color: #EFE8BB;
   /*display: inline-block;*/
   margin: 0;
   padding: 0;
   border-radius: 0px;

   opacity: 1;

/*   -moz-transition: opacity 1s;
   -webkit-transition: opacity 1s;
   -o-transition: opacity 1s;*/
   transition: all 0.3s ease 0.2s;
   height: 100%;
}
#addTabLanguages.nonDisplay
{
   display: none;
}
#addTabLanguages.fullOpacity
{
   transition: opacity 0.3s ease 0.2s;
}
#addTabLanguages.quickFullOpacity
{
   opacity: 0;
   transition: opacity 0.2s ease;
}
#addTabLanguages > li 
{
   list-style: none;
   padding: 4px;
   margin: 0;
}
#addTabLanguages  button
{
   border: none; 
   border-radius: 0px;
   padding: 5px 10px;
   font-weight: bold;
   background-color: rgb(241, 236, 206);
   color: rgb(112, 112, 104);
}
#addTabLanguages  button:hover
{
    background-color: #444;   
    color: #fff;
}

#addTabLanguages .lastClosedButton 
{
  background-color: rgb(112, 112, 104);
  color: rgb(241, 236, 206);
}
#addTabLanguages .lastClosedButton:hover
{
  background-color: #222; 
}

#addTabLanguages #snippetsButton
{
  background-color: red;
  color: white;
}
#addTabLanguages #snippetsButton:hover
{
  background-color: green;
  color: white;
}

/*#addTab:hover #addTabLanguages
{
   display: block;
   opacity: 1;
}*/

#tabscontainer
{
   position: absolute;
   bottom: 30px; /* footer height */
   top: 60px;

   margin-top: -11px;
   /*position: relative;
   height: 100%;*/
;
   width: 100%;
   border-top: 1px solid #dcc74e;
}
#tabscontainer > div
{
   /*opacity: 0;*/
   /*visibility: hidden;*/
   display: none;
   background-color: #F7F2D4;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 2em;
}
#tabscontainer > div.selected
{
   /*opacity: 1;*/
   /*visibility: visible;*/
   display: block;
}


.titleBar
{
    width: 100%;
/*  height: 1em;
  width: 100%;*/
;
    max-width: 1000px;
    margin: -15px auto 6px;
}

.editorWrapper
{
   height: 100%;
   width: 100%;
   max-width: 1000px;
   padding: 1em 0;
   background-color: black;
   margin: 0 auto;
   box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.editor 
{
   height: 100%;
   max-width: 1000px;
   margin: 0 auto;
}

/* 
   Status Line
*/

#statusLine 
{
   margin: -30px 0 0 0;
   width: 100%;
   height: 30px;
   background-color: #F9F8EE;
   position: relative;
   text-align: center;
   border-top: 1px solid #DCC74E;
   padding: 2px 0 0 0;

}
#statusLine > div 
{
   display: inline-block;
   padding: 3px 15px;
   color: #999;
   position: relative;
}
#statusLine > div > span
{
   color: #444;
   padding: 0 5px;
}
#statusLine a
{
   text-decoration: underline;
   color: #444;
   padding: 0 3px;
}
#statusLine a:hover
{
   color: #777;
}
#statusIndicator,
#fontResizeButtons
{
   float: right;
}
div#statusIndicator > span
{
   color: #999;
}
.floatLeft
{
   float: left;
}
#statusLine > .floatLeft
{
   cursor: pointer;
}
button,
.button 
{
   cursor: pointer;
   color: #fff;
   background-color: #777;
   border: none;
   padding: 4px 8px;
}
button:hover,
.button:hover
{
    background-color: #bbb;
   
    color: #666;
}

#nick
{

}
#channel
{

}
#new_window
{
   
}
#statusText
{

}

#evaluatedMessage
{
   position: absolute;
   bottom: 50px;
   left: 0;
   display: inline-block;

   background-color: #bbb;   
   color: #666;
   padding: 6px 9px;
   white-space: nowrap;
}

#statusLine > #fontResizeButtons
{
  padding: 0;
}
#fontResizeButtons > button
{
    padding: 0;

    height: 20px;
    width: 18px;
    margin: 3px 0  0;
}


#connected
{
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 10px;
   background-color: red;
   border: 1px solid black;
}
#connected.connected
{
   background-color: green;
}


/* full screen overlay to get get nick + channel */

.fullscreenOverlay {

   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0; /* extends this across the viewport as currently sized */

   z-index: 1000008;

   background: rgba(0, 0, 0, .8);
}

.fullscreenOverlayTableWrapper
{
   display: table;
   width: 100%;
   height: 100%;
}

.fullscreenOverlayWrapper {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   position: relative;
}

.fullscreenOverlayInputBox
{
   text-align: left;
   display: inline-block;
   padding: 2em;
   /*width: 200px;*/
   /*height: 200px;*/
   background-color: #F7F2D4;
   box-shadow: 0 0 22px 1px rgba(255, 255, 255, 0.3);
   color: #666;
}

.fullscreenOverlayInputBox h1
{
   font-size: 20px;
   text-align: center;
}

.initialInput
{
   margin: 0 0 0 20px;

}
.initialInputText
{
   width: 64px;
   display: inline-block;
}
#initialInputExplanation
{
   color: #999;
   
}
#initialInputButtons
{
   text-align: center;
}


#setChannelAndNick
{
  border: 2px solid rgb(255, 147, 74);  
}


#snippetsBox
{
   overflow: auto;
   width: 460px;
}

#snippetsBox > div
{
   display: inline-block;
   width: 191px;
   padding: 0 1em 0 0;
   text-align: center;
}

#snippetsBox > div > h2
{
   margin: 1em 0 0 0;
   text-align: center;
}
#snippetsBox > div > h2:hover
{
}
#snippetsBox > div > a
{
   color: #777;
   text-decoration: none;
   cursor: pointer;
}
#snippetsBox > div > a:visited
{
   color: #777;
}
#snippetsBox > div > a:hover
{
   text-decoration: underline;
}

#snippetsBox #snippetsCancel
{
    display: block;
   
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.codeLink
{
    padding: 0 1em;

}

#snippetsBox > div > a.codeLink:hover
{
   text-decoration: none;
   color: #000;
}
.demoLink
{
    display: block;

    width: 100px;
    margin: 5px auto;
    border-top: 1px solid #000;
}

/* generic */

.nonDisplay,
#evaluatedMessage.nonDisplay
{
   display: none;
   /*opacity: 0;*/
}
.nonVisible
{
   visibility: hidden;
}
.centerContainer
{
   display: inline-block;
}

.indicateError
{
  color: rgb(206, 26, 26);
}