/*** chatfacts_02 ****/
#chatfacts_02_body
{
   margin: 5em auto 0;
   width: 500px;
   height: 500px;
   font-size: 18px;
   border: 1px solid black;
   position: relative;
}

#chatfacts_02_body > ul > li
{
   margin: 0 0 10px;
}
#chatfacts_02_body > ul > li > ul > li
{
   margin: 2px 0 0;
}

#sq1
{
   position: absolute;
   top: 43px;
   left: 177px;
}
#sq2
{
   position: absolute;
   top: 286px;
   left: 16px;
}

#sq3
{
   position: absolute;
   top: 286px;
   left: 337px;
}

#sq4
{
   position: absolute;
   top: 286px;
   left: 177px;
}

#l1a
{
   position: absolute;
   top: 176px;
   left: 123px;
}

#l2a
{
   position: absolute;
   top: 176px;
   left: 236px;
}

#l3a
{
   position: absolute;
   top: 176px;
   left: 293px;
}

#l1b
{
   position: absolute;
   top: 176px;
   left: 123px;
}

#l2b
{
   position: absolute;
   top: 176px;
   left: 236px;
}

#l3b
{
   position: absolute;
   top: 176px;
   left: 293px;
}

#l1c
{
   position: absolute;
   top: 176px;
   left: 123px;
}

#l2c
{
   position: absolute;
   top: 176px;
   left: 236px;
}

#l3c
{
   position: absolute;
   top: 176px;
   left: 293px;
}
