/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body
{
   font-family: 'open_sansregular', sans-serif;  font-size: 14px;
   padding: 0;
   margin: 0;
   border: none;
   position: relative;
}

#voteContainer
{
   margin: 0 0 0 8em;
   
}
#voteContainer > div
{
   display: inline-block;
   width: 10em;
}

#voteContainer > div > span
{
    display: block;

    margin: 1em;
}

#voteContainer > div > input
{
    display: block;

    width: 4em;
    margin: 1em;
}

#voteContainer > div > button
{
    margin: 0 0 3em 1.5em;
   
}

#resetVotesContainer
{
    text-align: center;
   
}

#demo_body
{
   width: 650px;
}

#codeContainer
{
   width: 1200px;
   margin: 0 auto;
   background-color: #fff;
   position: relative;
}
.codehalf
{
   width: 50%;
   height: 100%;
   float: left;
   background-color: #fff;
}

.codehalf .syntaxhighlighter, .ie.syntaxhighlighter  {
   overflow: hidden !important;
   /*padding: 0.7em !important;
   border: solid 1px white !important;
   box-shadow: 0 0 1em white !important;*/
}

#JSCode
{
    width: 58%;
   
}
#PLSQLCode
{
   border-left: 1px solid rgb(163, 163, 163);
   width: 42%;
}


.arrowBox
{
   position: absolute;
   z-index: 10;
   border-left: 3px solid black;
}

.dot
{
   height: 2px;
   width: 2px;
   background-color: red;
   position: absolute;
   z-index: 10;
}

.arrowHead
{
   position: absolute;
}

.codehalf .syntaxhighlighter.nogutter td.code .line
{
   padding-left: 0.5em !important;
}