.chat_channel_selector > a
{
   display: block;
   width: 8em;
   padding: 1em 3em;
   margin: 2em auto;

   font-size: 20px;
   text-align: center;
   color: #fff;
   background-color: #aaa;
   border-radius: 2px;

   text-decoration: none;
   /*color: inherit;*/

   box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.chat_channel_selector > a:focus
{
   outline: none;
}

#show_chat_window
{
   position: fixed;
   bottom: 0;
   right: 0;
}

#channel_title
{
   position: absolute;
   top: 0px;
   left: 0px;
   padding: 5px;

   border: 1px solid #ccc;
   border-radius: 3px;

   border-top: none;
   border-left: none;
   background-color: inherit;
   color: #f60;
   color: #D0B800;
   font-weight: bold;
}


#chat_window
{
   border: 1px solid #ccc;
   background-color: #eee;
   width: 300px;
   padding: 1em;
   position: fixed;
   bottom: 0;
   right: 0;

   border-radius: 4px;

   /*-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px 0px;
   -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;*/
   box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
   background-image: -webkit-linear-gradient(top right, white, #D3D3D3);
   background-image:    -moz-linear-gradient(top right, white, #D3D3D3);
   background-image:     -ms-linear-gradient(top right, white, #D3D3D3);
   background-image:      -o-linear-gradient(top right, white, #D3D3D3);
   background-image:         linear-gradient(top right, white, #D3D3D3);
}
#chat_window .content
{
   margin: 1.5em auto 0;
}
#chat_window .content > div
{
   margin: 10px 20px;
}

#my_nick
{
   display: inline-block;
   margin: 0 1em 0 0;
}

#nick
{

}

#choose_color
{
}

#choose_icon
{
}

#messages_box
{
   height: 300px;
   width: 250px;

   border: 1px solid #ccc;
   background-color: white;

   overflow: auto;
}

#messages_box > p
{
   margin: 0;
}

#messages_box > .nick_line
{
   /*font-variant-caps: all-small-caps;*/
   font-weight: bold;
}
#messages_box .message_time
{
   font-style: normal;
   font-weight: normal;
   font-size: 80%;
}
#messages_box > .message_line
{
   margin-left: 2em;
}




#nick,
#message_input,
#messages_box
{
   border: 1px solid #ccc;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;

   margin: 0;
}

#nick,
#messages_box,
#message_input
{
   border-radius: 2px;
   padding: 3px;
}

#messages_box,
#message_input
{
   margin: 0;
   width: 250px;
}

#message_input
{
   resize: none;
   margin-top: 10px;
}

#send_message
{
}


.message_received
{
   /*background-color: #f60;*/
   color: #fff;

   background-image: -webkit-linear-gradient(top right, #DB5800, #FF791F);
   background-image: -moz-linear-gradient(top right, #DB5800, #FF791F);
   background-image: -ms-linear-gradient(top right, #DB5800, #FF791F);
   background-image: -o-linear-gradient(top right, #DB5800, #FF791F);
   background-image: linear-gradient(top right, #DB5800, #FF791F);
}
.message_received:hover
{
   color: #C2C2C2;

   background-image: -webkit-linear-gradient(top right, #CE5300, #E76F1F);
   background-image: -moz-linear-gradient(top right, #DB5800, #FF791F);
   background-image: -ms-linear-gradient(top right, #DB5800, #FF791F);
   background-image: -o-linear-gradient(top right, #DB5800, #FF791F);
   background-image: linear-gradient(top right, #DB5800, #FF791F);
}

#hide_chat_window
{
   position: absolute;
   right: 0;
   top: 0;

   padding: 3px 7px;
   margin: 0;
   color: #f60;
   color: #645900;
   background-image: -webkit-gradient(linear, 100% 0, 0 100%, from(#FFE200), to(#D0B800));
   background-image: -webkit-linear-gradient(top right, #FFE200, #D0B800);
   background-image: -moz-linear-gradient(top right, #FFE200, #D0B800);
   background-image: -o-linear-gradient(top right, #FFE200, #D0B800);
   background-image: linear-gradient(to top right, #FFE200, #D0B800);


}

.channel_selected a
{
   /*background-color: #f60;*/
   background-color: #D0B800;
   /*color: #fff;*/
   color: #444;
}

.status_line
{
   position: fixed;
   left: 1em;
   color: #eee;
   bottom: 1em;
}

#helpButton
{
   left: 70%;
   bottom: -20px;
}
